{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{# Le CSS  #}
{% block stylesheets %}
<style>

h1 {
    margin-bottom:20px;
}
body {
    text-align:center;
}
table {
    margin:auto;
}
</style>
{% endblock %}

{% block body %}
    {# Le titre #}
    <h1>Les Catégories</h1>

    {# Un tableau pour afficher les catégories #}
    <table class="table">
        {# Le haut du tableau #}
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>Options</th>
            </tr>
        </thead>

        {# Le corps du tableau #}
        <tbody>
        {% for category in categoryForm %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Voir</a> /
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de correspondance</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="black" href="{{ path('app_category_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
