{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block stylesheets %}
<style>

h1 {
    margin-bottom:20px;
}
body {
    text-align:center;
}
table {
    margin:auto;
}
a {
    margin-top:1rem;
    gap:2rem;
}
</style>
{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ users.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ users.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ users.email }}</td>
            </tr>

        </tbody>
    </table>

    <a class="black" href="{{ path('app_users_index') }}">Retour à la liste</a>

    {{ include('admin/_delete_formusers.html.twig') }}
{% endblock %}
