{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block stylesheets %}
<style>

h1 {
    margin-bottom:20px;
}
body {
    text-align:center;
}
table {
    margin:auto;
}
a {
    color: black;
}
</style>
{% endblock %}

{% block body %}
    <h1>Les Catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for users in UserForm %}
            <tr>
                <td>{{ users.id }}</td>
                <td>{{ users.name }}</td>
                <td> {{users.email}}<td>
                <td>{{ users.role }}</td>
                <td>
                    <a href="{{ path('app_users_show', {'id': users.id}) }}">Voir</a> /
                    <a href="{{ path('app_users_edit', {'id': users.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de correspondances</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_users_new') }}">Crée un nouvel utilisteurs</a>
{% endblock %}
