{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block stylesheets %}
<style>

h1 {
    margin-bottom:20px;
}
body {
    text-align:center;
}
</style>
{% endblock %}

{% block body %}
    <h1>Tableaux des utilisateurs inscrits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for users in UserForm %}
            <tr>
                <td>{{ users.id }}</td>
                <td>{{ users.name }}</td>
                <td>{{users.email}}</td>
                <td>
                    <a href="{{ path('app_users_show', {'id': users.id}) }}"> Voir </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de correspondance</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="black" href="{{ path('app_users_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
