<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link href="{{ asset('assets/css/sb-admin-2.min.css') }}" rel="stylesheet">
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <header id="masthead">
        <div class="wrap">

            <div class="logo">
                <a href="{{ path('app_homepage') }}"> <img src ="{{ asset('assets/img/logoprintemps.png') }}">
            </div>
            <nav>  
                <ul>
<<<<<<< HEAD
                    {% if app.user %}
                    <li> <a href="{{ path('app_logout') }}">Déconnexion</a>
                    {% if "is_granted('ROLE_ADMIN')" %}
                        <a href="{{ path('app_dashboard') }}"> Admin </a>
                {% endif %}
                {% else %}
                    <li> <a href="{{ path('app_register') }}"> Inscription </a> </li>
                    <li> <a href="{{ path("login") }}">Connexion</a>
                {% endif %}
=======
                    <li> <a href="{{ path('app_register') }}"> Producteurs </a> </li>
                    <li> <a href="{{ path('app_register') }}"> Visiteurs </a>  </li>
                    <li> <a href="{{ path('login') }}"> Connexion </a> </li>

>>>>>>> Alexandre
                </ul>
            </nav>
            {% block header %}{% endblock %}
        </div>
    </header>

    <body>
        {% block body %}{% endblock %}
    </body>

    <footer id="colophon">
    <div class="wrap">
            <ul class="menufooter">
                <li> <a href="{{ path('app_register') }}"> Producteurs </a> </li>
                <li> <a href="{{ path('app_register') }}"> Visiteurs </a> </li>
                <li> <a href="{{ path('app_homepage') }}"> <img src ="{{ asset('assets/img/logoprintemps.png') }}"> </li>
                <li> <a href="{{ path('app_presentation') }}"> Qui sommes-nous ? </a> </li>
                <li> <a href="{{ path('app_contact') }}"> Contact </a> </li>
            </ul>

            <ul class="menureseau">
                <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100080494670142" > <img src="{{ asset('assets/img/facebook.png') }}"> </a></li>
                <li><a target="_blank" href="https://twitter.com/SaisonCulture"> <img src="{{ asset('assets/img/twitter.png') }}"> </a></li>
                <li><a target="_blank" href="https://www.instagram.com/saisonculture/"> <img src="{{ asset('assets/img/instagram.png') }}"> </a></li>
            </ul>
            <ul class="footend">
                <li> &copy;-2022 SaisonCulture</li>
                <li> AJA-dev </li>
                <li> <a href="{{ path('app_mentions') }}"> Mentions Légales </a></li>
                <li> <a href="{{ path('app_rgpd') }}"> Charte de protection des donnés </a></li>
                <li> <a href="{{ path('app_cgu') }}"> CGU </a></li>
            </ul>
            </div>
        {% block footer %}
            
        {% endblock %}
    </footer>
    
</html>
